@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #302f2f;
}

button{
    cursor: pointer;
}

.container{
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px ;
}

.header{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 12px;
    font-family:'Courier New', Courier, monospace;
}

.header span{
    font-weight: 900;
    font-size: 20px;
    word-break: break-all;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    
}

#new {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: #ffff;
    background-color: #cf1666;
    transition: 0.5s all ease;
    margin-right: 18px;
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#new:hover{
    cursor: pointer;
    transition: all 0.5s;
    background-color: #f65c8d;
}


.divTable{
    padding: 10px;
    width: auto;
    height: inherit;
    overflow: auto;
}

.divTable::-webkit-scrollbar{
    width: 12px;
    background-color: whitesmoke; 
}

.divTable::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(255, 253, 253, 0);
}

table {
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
}
 
  
thead {
    background-color: rgb(241, 239, 239);
}


tr {
    border-bottom: 1px solid rgb(215, 215, 215)!important;
}

tbody tr td {
    vertical-align: text-top;
    padding: 6px;
    max-width: 50px;
}


thead tr th {
    padding: 5px;
    text-align: start;
    margin-bottom: 50px;
}

tbody tr {
    margin-bottom: 50px;
}

thead tr th.acao {
  width: 200px!important;
  text-align: center;
}

tbody tr td.acao {
    text-align: center;
}

@media (max-width: 700px) {
    body {
      font-size: 8px;
}
}



.header span {
    font-size:18px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#new {
    padding: 5px;
    font-size: 10px;
}

thead tr th.acao {
    width: auto!important;
}

td button i {
    font-size: 20px!important;
}

td button i:first-child {
    margin-right: 0;
}

.modal {
    width: 90%!important;
}


.modal label {
    font-size: 12px!important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 50%;
}

.modal label {
    font-size: 14px;
    width: 100%;
    transition: 0.5s all;
}

.modal label:hover{
    color: #c3c0c0;
    transition: 0.5s all;
}


.modal input {
    width: 100%;
    outline: none;
    padding: 5px 10px; 
    width: 100%;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #030303;
    transition: 0.5s all;
}

.modal input:hover{
    background-color: #f3eeee;
    color: #000000;
    transition: 0.5s all;
    
}




.modal button {
    width: 100%;
    margin: 10px auto;
    outline: none;
    border-radius: 20px; 
    padding: 5px 10px; 
    width: 100%;
    border: none;
    background-color: #cf1666;
    color: white;
    transition: 0.5s;
}

.modal button:hover{
    background-color: #f65c8d;
    transition: 0.5s all;
    border-color: #1b1a1a;
    color: white;

}



.active {
    display: flex;
}

.active .modal {
    animation: modal .4s;
}

@keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

td button {
    border: none;
    outline: none;
    background: transparent;
}

td button i {
    font-size: 25px;
    transition: 0.5s all;
}

td button i:hover{
    
    transition: 0.5s all;
    color: rgb(173, 171, 171);

}

td button i:first-child {
    margin-right: 10px;
}


.cont{
    display: flex;
    justify-content:flex-end;
    text-align: center;
}

